@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    background-image: url(../images/bg-mobile.png);
}
.container{
    margin: 100px auto;
    width: 330px;
}
.one{
    width:330px;
    height: 170px;
    border-radius: 5px 120px 5px 5px;
}
.two{
    margin: 10px 0 0;
    border-radius: 5px;
    padding: -5px;
}
.row{
    display: flex;
    margin: 15px 0;
    gap: 10px;
}
.logo{
    width: 110px;
    height: 40px;
}
.dark-blue{
    background-color: hsl(228, 56%, 26%);
    padding: 10px;
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.blue{
    background-color: hsl(229, 53%, 42%);
    padding: 30px;
}
.text{
    color:white;
    text-align: center;
}
.space{
    font-size:24px;
}
small{
    font-size: 10px;
}
.grey{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px;
    width: 50%;
    margin:-30px auto 0;
}
.total{
    width: 100%;
    height: 15px;
    border-radius: 8px;
    background-color: hsl(228, 56%, 26%);
    margin: 5px 0;
}
.white{
    color: white;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
.circle{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin-left: 94%;
}
.partial{
    width:70%;
    border: 1px solid black;
    height: 15px;
    border-radius: 8px;
    margin: 5px 0;
    background-color: hsl(6, 100%, 80%);
    z-index: 9999;
}
.left{
    text-align: right;
}
.attribution { font-size: 11px; text-align: center; color: white;}
    .attribution a { color: hsl(229, 36%, 82%); }

    @media(min-width:1200px){
        .container{
            display: flex;
            width: 80%;
            gap: 10px;
            margin: 200px auto;
        }
        body{
            background-image: url(../images/bg-desktop.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: fit-content;
        }
        .grey{
            width:110px;
            height: fit-content;
            border-radius: 5px 5px 5px 5px;
            margin: -30px -15px 0 -130px;
        }
        .two{
            width: 450px;

        }
        .circle{
            margin-left: 96%;
        }
    }
